node-red/flows.json
[{"id":"a24dcc39.ea1c8","type":"tab","label":"caso-demo","disabled":false,"info":""},{"id":"bc000162.c36de","type":"tab","label":"mas-mqtt-user","disabled":false,"info":""},{"id":"99b99c4d.873e1","type":"subflow","name":"jacamo","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"bda8ca99.af6f08"}]}],"out":[],"env":[{"name":"HOST","type":"str","value":"http://192.168.1.107"},{"name":"PORT","type":"num","value":"8080"}],"color":"#DDAA99"},{"id":"9dccf696.706988","type":"subflow","name":"download","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"24b033e1.9a4e6c"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"1edd3f8.cdf24c1","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"230ffd5c.67f422","type":"subflow","name":"brsiop","info":"","category":"","in":[{"x":240,"y":580,"wires":[{"id":"a53f55db.d04958"}]}],"out":[],"env":[{"name":"HOST","type":"str","value":"http://brsiop.tecgraf.puc-rio.br"},{"name":"PORT","type":"num","value":"9010"},{"name":"FILES_PATH","type":"str","value":"/files"},{"name":"BASE_URL","type":"str","value":"v1"},{"name":"PROJECT","type":"str","value":"jomi/agbr"}],"color":"#DDAA99"},{"id":"29b21bd1.8e39f4","type":"subflow","name":"mqtt","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"6428739.0a8bc8c"}]}],"out":[],"env":[{"name":"NAME","type":"str","value":""},{"name":"INBOX","type":"env","value":"mqtt/${NAME}/inbox","ui":{"type":"hide","opts":{}}},{"name":"BOT_NAME","type":"str","value":""},{"name":"BOT_TOKEN","type":"str","value":""},{"name":"CHAT_ID","type":"num","value":""},{"name":"NOTES","type":"env","value":"mqtt/${NAME}/notes","ui":{"type":"hide","opts":{}}}],"color":"#DDAA99"},{"id":"54d81282.b772ac","type":"subflow","name":"jacamo (2)","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"43e561e9.aa18c"}]}],"out":[],"env":[{"name":"HOST","type":"str","value":"http://192.168.1.107"},{"name":"PORT","type":"num","value":"8080"}],"color":"#DDAA99"},{"id":"e2d28e59.51323","type":"subflow","name":"brsiop (2)","info":"","category":"","in":[{"x":240,"y":580,"wires":[{"id":"7b68cf2b.67e5"}]}],"out":[],"env":[{"name":"HOST","type":"str","value":"http://brsiop.tecgraf.puc-rio.br"},{"name":"PORT","type":"num","value":"9010"},{"name":"AS_PATH","type":"str","value":"D:\\\\ag-br\\\\cenpes\\\\as"},{"name":"JACAMO_PATH","type":"str","value":"D:\\\\ag-br\\\\cenpes\\\\jacamo"},{"name":"OTM_PATH","type":"str","value":"D:\\\\ag-br\\\\cenpes\\\\otm"},{"name":"BASE_URL","type":"str","value":"v1"},{"name":"PROJECT","type":"str","value":"jomi/agbr"}],"color":"#DDAA99"},{"id":"75ae4253.e8715c","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b15d2d9e.2926d","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e7c8f93.18b78","type":"telegram bot","z":"29b21bd1.8e39f4","botname":"{env.get(\"BOT_NAME\")}","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"cbcf90e6.671cb","type":"http request","z":"99b99c4d.873e1","name":"send msg","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":80,"wires":[["9859d591.05fb58"]]},{"id":"9859d591.05fb58","type":"switch","z":"99b99c4d.873e1","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":80,"wires":[["6947ec76.39b9e4"]]},{"id":"6947ec76.39b9e4","type":"debug","z":"99b99c4d.873e1","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":80,"wires":[]},{"id":"bda8ca99.af6f08","type":"function","z":"99b99c4d.873e1","name":"new_as","func":"var well = msg.file.substring(0, msg.file.length - 25).replace(/_/g, \"-\").toUpperCase();\nvar content = `new_file(\\\\\\\"${well}\\\\\\\",\\\\\\\"${msg.file}\\\\\\\")`;\nvar receiver = `ag_brsiop`;\nmsg.method = 'POST';\nmsg.url = `${env.get('HOST')}:${env.get('PORT')}/agents/${receiver}/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"${receiver}\\\", \\\"performative\\\": \\\"tell\\\", \\\"content\\\": \\\"${content}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["cbcf90e6.671cb"]]},{"id":"24b033e1.9a4e6c","type":"json","z":"9dccf696.706988","name":"","property":"payload","action":"","pretty":false,"x":190,"y":140,"wires":[["a5662a26.4f0e48"]]},{"id":"932c7814.d66f58","type":"http request","z":"9dccf696.706988","name":"download","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":140,"wires":[["5f6c74d2.ed0f5c"]]},{"id":"a5662a26.4f0e48","type":"change","z":"9dccf696.706988","name":"url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["932c7814.d66f58"]]},{"id":"5f6c74d2.ed0f5c","type":"file","z":"9dccf696.706988","name":"dowload","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":580,"y":140,"wires":[["1edd3f8.cdf24c1"]]},{"id":"1edd3f8.cdf24c1","type":"switch","z":"9dccf696.706988","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":140,"wires":[["a7066aa.d96d298"],[]]},{"id":"a7066aa.d96d298","type":"debug","z":"9dccf696.706988","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":80,"wires":[]},{"id":"a0b0604.23621a","type":"switch","z":"230ffd5c.67f422","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"login","vt":"str"},{"t":"eq","v":"upload","vt":"str"},{"t":"eq","v":"tab_glc","vt":"str"},{"t":"eq","v":"glc","vt":"str"},{"t":"eq","v":"jobInfo","vt":"str"},{"t":"eq","v":"download","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":710,"y":580,"wires":[["bbfdfd77.513dc"],["e69f01ab.da71c"],["d267741a.bd1f38"],["56e7da3e.4924f4"],["afb5b96c.ff5768"],["7c9aa873.e16508"],["79bbef6f.4d715"]]},{"id":"bbfdfd77.513dc","type":"function","z":"230ffd5c.67f422","name":"login","func":"var login = msg.payload.terms[0];\nvar password = msg.payload.terms[1];\n\nmsg.method = 'POST';\n// msg.url = `${msg.origin}/v1/authentication`;\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/authentication`;\nmsg.payload = `login=${login}&password=${password}`;\n\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/x-www-form-urlencoded';\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":280,"wires":[["3e441f20.27355"]]},{"id":"3e441f20.27355","type":"http request","z":"230ffd5c.67f422","name":"login","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":280,"wires":[["90fca499.0af5a8"]]},{"id":"e2f52cce.b623b","type":"comment","z":"230ffd5c.67f422","name":"LOGIN","info":"","x":990,"y":233,"wires":[]},{"id":"90fca499.0af5a8","type":"switch","z":"230ffd5c.67f422","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":280,"wires":[["f23f8d00.7a395"],["762857a9.d58888"]]},{"id":"f23f8d00.7a395","type":"debug","z":"230ffd5c.67f422","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":220,"wires":[]},{"id":"c1401d47.44cae","type":"comment","z":"230ffd5c.67f422","name":"UPLOAD","info":"","x":1000,"y":352,"wires":[]},{"id":"e69f01ab.da71c","type":"function","z":"230ffd5c.67f422","name":"upload","func":"msg.token = msg.payload.terms[0];\nmsg.file = msg.payload.terms[1];\nlet envpath = env.get('FILES_PATH');\nif (envpath.indexOf(\"/\") >= 0) {\n    msg.filename = `${env.get('FILES_PATH')}/${msg.file}`; // N-WINDOWS    \n} else {\n    msg.filename = `${env.get('FILES_PATH')}\\\\\\\\${msg.file}`; // WINDOWS\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":396,"wires":[["c1eac58.7728238"]]},{"id":"c1eac58.7728238","type":"file in","z":"230ffd5c.67f422","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1110,"y":396,"wires":[["23489d2.686e462"]]},{"id":"23489d2.686e462","type":"function","z":"230ffd5c.67f422","name":"multipart","func":"let databuffer = msg.payload;\nmsg.method = 'POST';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/projects/${msg.project}/files/root`;\nmsg.payload = {\n    \"file\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": msg.file\n        }\n    },\n    \"uploadType\": {\n        \"value\": \"multipart\"\n    }\n}\nmsg.headers = {};\nmsg.headers['content-type'] = 'multipart/form-data';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1240,"y":396,"wires":[["b5e42577.e62b98"]]},{"id":"b5e42577.e62b98","type":"http request","z":"230ffd5c.67f422","name":"upload","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":396,"wires":[["bab2405.58927c"]]},{"id":"6ac4fdba.bd50b4","type":"debug","z":"230ffd5c.67f422","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1490,"y":460,"wires":[]},{"id":"d267741a.bd1f38","type":"function","z":"230ffd5c.67f422","name":"as2glc","func":"msg.token = msg.payload.terms[0];\nvar well = msg.payload.terms[1];\nvar gln = msg.payload.terms[2];\nvar file = msg.payload.terms[3];\nmsg.method = 'POST';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs`;\nmsg.payload = `{\n   \\\"args\\\":{\n      \\\"6.ARQUIVO_SAIDA\\\":\\\"${gln}\\\",\n      \\\"5.well\\\":\\\"${well}\\\",\n      \\\"3.ARQUIVO_ENTRADA\\\":\\\"${gln}\\\",\n      \\\"0.ARQUIVO_ENTRADA\\\":\\\"${file}\\\"\n   },\n   \\\"description\\\":\\\"agbr\\\",\n   \\\"emailOnTerminated\\\":false,\n   \\\"numberOfJobs\\\":1,\n   \\\"remoteCommand\\\":{\n      \\\"versionId\\\":\\\"1.0.0\\\",\n      \\\"projectId\\\":\\\"${msg.project}\\\",\n      \\\"algorithmId\\\":\\\"addAS2GLC\\\"\n   },\n   \\\"priority\\\":0\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":520,"wires":[["637243b8.3fba9c"]]},{"id":"637243b8.3fba9c","type":"http request","z":"230ffd5c.67f422","name":"run","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":580,"wires":[["ac3d859b.4f9b88"]]},{"id":"6aeb7db8.913994","type":"comment","z":"230ffd5c.67f422","name":"AS2GLC","info":"","x":1000,"y":480,"wires":[]},{"id":"bab2405.58927c","type":"switch","z":"230ffd5c.67f422","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1491,"y":396,"wires":[["fbcd2f90.1b64e"],["6ac4fdba.bd50b4"]]},{"id":"ac3d859b.4f9b88","type":"switch","z":"230ffd5c.67f422","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1373,"y":580,"wires":[["a278446d.731c28"],["30aa6f2f.48903"]]},{"id":"30aa6f2f.48903","type":"debug","z":"230ffd5c.67f422","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":640,"wires":[]},{"id":"afb5b96c.ff5768","type":"function","z":"230ffd5c.67f422","name":"jobInfo","func":"msg.token = msg.payload.terms[0];\nvar jobId = msg.payload.terms[1];\nmsg.method = 'GET';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs/${jobId}`;\nmsg.headers = {};\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":760,"wires":[["6544d396.8c25ec"]]},{"id":"98848.32f597b9","type":"comment","z":"230ffd5c.67f422","name":"JOB_INFO","info":"","x":1000,"y":713,"wires":[]},{"id":"6544d396.8c25ec","type":"http request","z":"230ffd5c.67f422","name":"jobInfo","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":760,"wires":[["363fe2a7.aed7ae"]]},{"id":"363fe2a7.aed7ae","type":"switch","z":"230ffd5c.67f422","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1233,"y":760,"wires":[["fa97aba.951af58"],["fc7cf78b.d869b8"]]},{"id":"fa97aba.951af58","type":"debug","z":"230ffd5c.67f422","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":700,"wires":[]},{"id":"fc7cf78b.d869b8","type":"json","z":"230ffd5c.67f422","name":"","property":"payload","action":"","pretty":false,"x":1388,"y":760,"wires":[["d429bf82.e11a4"]]},{"id":"b9488295.81a46","type":"base64","z":"230ffd5c.67f422","name":"","action":"str","property":"file64","x":1140,"y":880,"wires":[["f0810e3e.8902c"]]},{"id":"7c9aa873.e16508","type":"function","z":"230ffd5c.67f422","name":"getLink","func":"msg.token = msg.payload.terms[0];\nvar gln = msg.payload.terms[1];\nlet envpath = env.get('FILES_PATH');\nif (envpath.indexOf(\"/\") >= 0){\n    msg.filename = `${env.get('FILES_PATH')}/${gln}`; // N-WINDOWS\n}else{\n    msg.filename = `${env.get('FILES_PATH')}\\\\\\\\${gln}`; // WINDOWS\n}\nmsg.file64 = gln;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":880,"wires":[["b9488295.81a46"]]},{"id":"93d190ac.73dfe","type":"comment","z":"230ffd5c.67f422","name":"DOWNLOAD","info":"","x":1010,"y":833,"wires":[]},{"id":"396b4dad.069a92","type":"http request","z":"230ffd5c.67f422","name":"getLink","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1440,"y":880,"wires":[["15ee2f7f.936021"]]},{"id":"15ee2f7f.936021","type":"switch","z":"230ffd5c.67f422","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1573,"y":880,"wires":[["b64974aa.1e2a88"],["db3631ef.8b54c"]]},{"id":"db3631ef.8b54c","type":"debug","z":"230ffd5c.67f422","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1590,"y":940,"wires":[]},{"id":"79bbef6f.4d715","type":"debug","z":"230ffd5c.67f422","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":700,"wires":[]},{"id":"762857a9.d58888","type":"json","z":"230ffd5c.67f422","name":"","property":"payload","action":"","pretty":false,"x":1370,"y":280,"wires":[["ed16ffc5.1d6aa"]]},{"id":"ed16ffc5.1d6aa","type":"function","z":"230ffd5c.67f422","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload.tokenType}${msg.payload.accessToken}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":280,"wires":[["ded0508b.fe9a3"]]},{"id":"ded0508b.fe9a3","type":"http response","z":"230ffd5c.67f422","name":"OK","statusCode":"","headers":{},"x":1690,"y":280,"wires":[]},{"id":"fbcd2f90.1b64e","type":"function","z":"230ffd5c.67f422","name":"OpFeedbackParam","func":"msg.payload = 'ok';\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":400,"wires":[["5ce14ef4.9b656"]]},{"id":"5ce14ef4.9b656","type":"http response","z":"230ffd5c.67f422","name":"OK","statusCode":"","headers":{},"x":1830,"y":400,"wires":[]},{"id":"499259de.334418","type":"http response","z":"230ffd5c.67f422","name":"OK","statusCode":"","headers":{},"x":1725,"y":580,"wires":[]},{"id":"d429bf82.e11a4","type":"function","z":"230ffd5c.67f422","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload.state}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1554,"y":760,"wires":[["40db7bbb.80ca94"]]},{"id":"40db7bbb.80ca94","type":"http response","z":"230ffd5c.67f422","name":"OK","statusCode":"","headers":{},"x":1714,"y":760,"wires":[]},{"id":"a278446d.731c28","type":"function","z":"230ffd5c.67f422","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1559,"y":580,"wires":[["499259de.334418"]]},{"id":"b64974aa.1e2a88","type":"subflow:9dccf696.706988","z":"230ffd5c.67f422","name":"","env":[],"x":1740,"y":880,"wires":[["207582d.6abe57e"]]},{"id":"207582d.6abe57e","type":"function","z":"230ffd5c.67f422","name":"OpFeedbackParam","func":"msg.payload = 'ok';\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":880,"wires":[["4a82edfe.4eb3c4"]]},{"id":"4a82edfe.4eb3c4","type":"http response","z":"230ffd5c.67f422","name":"OK","statusCode":"","headers":{},"x":2070,"y":880,"wires":[]},{"id":"a53f55db.d04958","type":"function","z":"230ffd5c.67f422","name":"","func":"msg.origin = `${env.get('HOST')}:${env.get('PORT')}`;\nmsg.project = env.get('PROJECT');\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["2d2054f2.0f2b8c"]]},{"id":"f0810e3e.8902c","type":"function","z":"230ffd5c.67f422","name":"","func":"msg.method = 'GET';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/projects/${msg.project}/files/${msg.file64}/link`;\nmsg.headers = {};\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":880,"wires":[["396b4dad.069a92"]]},{"id":"2d2054f2.0f2b8c","type":"base64","z":"230ffd5c.67f422","name":"","action":"str","property":"project","x":540,"y":580,"wires":[["a0b0604.23621a"]]},{"id":"6091fb8.4a4e204","type":"http in","z":"a24dcc39.ea1c8","name":"Dummy BR-SiOP","url":"/brsiop","method":"post","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["c2288a7f.57b078"]]},{"id":"fbad07a1.0d05d8","type":"comment","z":"a24dcc39.ea1c8","name":"BRSIOP","info":"","x":120,"y":80,"wires":[]},{"id":"c2288a7f.57b078","type":"subflow:230ffd5c.67f422","z":"a24dcc39.ea1c8","name":"","env":[{"name":"MARLIM_PATH","value":"D:\\\\github\\\\caso2-demo\\\\marlim","type":"str"},{"name":"JACAMO_PATH","value":"/data/jacamo","type":"str"},{"name":"OTM_PATH","value":"/data/otm","type":"str"},{"name":"AS_PATH","value":"/data/as","type":"str"},{"name":"PATH_GLN","value":"D:\\\\ag-br\\\\cenpes\\\\jacamo\\\\gln\\\\","type":"str"}],"x":350,"y":120,"wires":[]},{"id":"79ce7e81.1e10d","type":"watch","z":"a24dcc39.ea1c8","name":"wait marlim","files":"D:\\\\github\\\\caso2-demo\\\\files","recursive":"","x":130,"y":280,"wires":[["28d2153e.a4851a"]]},{"id":"1b37e142.8758bf","type":"rbe","z":"a24dcc39.ea1c8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"file","x":290,"y":280,"wires":[["b16edba7.7d7b58"]]},{"id":"b16edba7.7d7b58","type":"switch","z":"a24dcc39.ea1c8","name":"","property":"type","propertyType":"msg","rules":[{"t":"neq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":280,"wires":[["d2aae8f9.d572a8"]]},{"id":"88993045.f8261","type":"comment","z":"a24dcc39.ea1c8","name":"WAIT AS","info":"","x":120,"y":240,"wires":[]},{"id":"91967551.316e58","type":"subflow:99b99c4d.873e1","z":"a24dcc39.ea1c8","name":"","env":[{"name":"HOST","value":"http://192.168.1.109","type":"str"}],"x":740,"y":280,"wires":[]},{"id":"d2aae8f9.d572a8","type":"switch","z":"a24dcc39.ea1c8","name":"","property":"file","propertyType":"msg","rules":[{"t":"cont","v":".mr2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":280,"wires":[["91967551.316e58"]]},{"id":"e8252cb4.c1c63","type":"comment","z":"a24dcc39.ea1c8","name":"MPA","info":"","x":110,"y":400,"wires":[]},{"id":"84fe4934.8aa5c8","type":"http in","z":"a24dcc39.ea1c8","name":"","url":"/mpa","method":"post","upload":false,"swaggerDoc":"","x":120,"y":460,"wires":[["432b8e60.9e8f9"]]},{"id":"432b8e60.9e8f9","type":"function","z":"a24dcc39.ea1c8","name":"set Tag","func":"var tag = msg.payload.terms[0];\nvar value = msg.payload.terms[1];\n// var tag = 'ufsc.v1_abertura';\n// var value = 13;\n\nmsg.method = 'POST';\n// msg.url = 'http://localhost:8081/mpa/tags/';\nmsg.url = 'http://192.168.1.109:8081/mpa/tags/';\nmsg.payload =\n`{\n\t\\\"tag\": \\\"${tag}\\\",\n\t\\\"value\\\": \\\"${value}\\\"\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":460,"wires":[["9a63bebb.d1d09"]]},{"id":"9a63bebb.d1d09","type":"http request","z":"a24dcc39.ea1c8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":460,"wires":[["1a2cf587.af26ca"]]},{"id":"1a2cf587.af26ca","type":"switch","z":"a24dcc39.ea1c8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":460,"wires":[["2638a14d.c91bfe"],["a5ee2f34.4eddc"]]},{"id":"2638a14d.c91bfe","type":"debug","z":"a24dcc39.ea1c8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":400,"wires":[]},{"id":"a5ee2f34.4eddc","type":"function","z":"a24dcc39.ea1c8","name":"OpFeedbackParam","func":"msg.payload = 'ok';\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":460,"wires":[["db8daab0.db3c68"]]},{"id":"db8daab0.db3c68","type":"http response","z":"a24dcc39.ea1c8","name":"OK","statusCode":"","headers":{},"x":910,"y":460,"wires":[]},{"id":"72524632.4a19d8","type":"comment","z":"bc000162.c36de","name":"CREATE DUMMY AGENT","info":"","x":190,"y":80,"wires":[]},{"id":"df829371.2b6ce","type":"inject","z":"bc000162.c36de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195,"y":140,"wires":[["7226e22b.c0655c"]],"l":false},{"id":"60fd379a.fa6ac8","type":"mqtt in","z":"29b21bd1.8e39f4","name":"","topic":"${INBOX}","qos":"2","datatype":"auto","broker":"b15d2d9e.2926d","x":160,"y":260,"wires":[["e367db5b.732538"]]},{"id":"2e318d23.6ebb42","type":"http request","z":"29b21bd1.8e39f4","name":"signal","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":260,"wires":[["3cb4c1e4.892d4e"]]},{"id":"e367db5b.732538","type":"function","z":"29b21bd1.8e39f4","name":"signal","func":"msg.method = 'POST';\nmsg.url = `http://jacamo-rest:8080/workspaces/dummy/artifacts/mqtt/operations/doSignal/execute`;\nmsg.payload = `[\"message\", \\\"${msg.payload}\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["2e318d23.6ebb42"]]},{"id":"3cb4c1e4.892d4e","type":"switch","z":"29b21bd1.8e39f4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":260,"wires":[["6dbd8d65.7032e4"]]},{"id":"6dbd8d65.7032e4","type":"debug","z":"29b21bd1.8e39f4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":260,"wires":[]},{"id":"a021ab7.0cfb358","type":"comment","z":"29b21bd1.8e39f4","name":"MQTT > AGENT (SIGNAL)","info":"****","x":210,"y":220,"wires":[]},{"id":"7226e22b.c0655c","type":"subflow:29b21bd1.8e39f4","z":"bc000162.c36de","name":"","env":[{"name":"NAME","value":"otavio","type":"str"},{"name":"BOT_NAME","value":"Claudio","type":"str"},{"name":"BOT_TOKEN","value":"1344487748:AAFLqqD934hzjag5DepZREkNvSps56QmaAU","type":"str"},{"name":"CHAT_ID","value":"894318217","type":"num"}],"x":570,"y":140,"wires":[]},{"id":"2fbc44b0.01442c","type":"comment","z":"29b21bd1.8e39f4","name":"AGENT > USER (TELEGRAM)","info":"","x":230,"y":360,"wires":[]},{"id":"6f009665.c53ba8","type":"http in","z":"29b21bd1.8e39f4","name":"","url":"/user","method":"post","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["e0687cb.ae6af8","1ddd30c.10bc6cf"]]},{"id":"9b0b5db7.d4531","type":"telegram sender","z":"29b21bd1.8e39f4","name":"send","bot":"2e7c8f93.18b78","x":630,"y":400,"wires":[["70539709.3ffa58"]]},{"id":"70539709.3ffa58","type":"debug","z":"29b21bd1.8e39f4","d":true,"name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":400,"wires":[]},{"id":"e0687cb.ae6af8","type":"switch","z":"29b21bd1.8e39f4","name":"","property":"payload.sender","propertyType":"msg","rules":[{"t":"eq","v":"bot","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":400,"wires":[["29fd0745.bb97b8"],["8a525be8.8495a8"]]},{"id":"8a525be8.8495a8","type":"debug","z":"29b21bd1.8e39f4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":460,"wires":[]},{"id":"1ddd30c.10bc6cf","type":"http response","z":"29b21bd1.8e39f4","name":"","statusCode":"","headers":{},"x":170,"y":460,"wires":[]},{"id":"29fd0745.bb97b8","type":"function","z":"29b21bd1.8e39f4","name":"","func":"var content = msg.payload.content.replace(/\\\"/g,'');\nmsg.payload = {}\nmsg.payload.chatId = env.get('CHAT_ID');\nmsg.payload.type = 'message';\nmsg.payload.content = content;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["9b0b5db7.d4531"]]},{"id":"6b1ff287.1345ac","type":"comment","z":"29b21bd1.8e39f4","name":"USER > AGENT (ACL)","info":"","x":1080,"y":140,"wires":[]},{"id":"412a3808.50af18","type":"telegram receiver","z":"29b21bd1.8e39f4","name":"","bot":"2e7c8f93.18b78","saveDataDir":"","filterCommands":false,"x":1070,"y":180,"wires":[["382fa424.fcc7ac"],[]]},{"id":"382fa424.fcc7ac","type":"function","z":"29b21bd1.8e39f4","name":"acl","func":"var literal = `message(\\\\\\\"${msg.payload.content}\\\\\\\")`;\nmsg.method = 'POST';\nmsg.url = `http://jacamo-rest:8080/agents/bot/inbox`;\nmsg.payload = \n`{ \n    \\\"sender\\\": \\\"user\\\", \n    \\\"receiver\\\": \\\"bot\\\", \n    \\\"performative\\\": \\\"signal\\\", \n    \\\"content\\\": \\\"${literal}\\\", \n    \\\"msgId\\\": \\\"13\\\"\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":1270,"y":180,"wires":[["3c768f6.81c947"]]},{"id":"3c768f6.81c947","type":"http request","z":"29b21bd1.8e39f4","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":180,"wires":[["79e3c684.9c4b78"]]},{"id":"79e3c684.9c4b78","type":"switch","z":"29b21bd1.8e39f4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":180,"wires":[["e5082b3e.746858"]]},{"id":"e5082b3e.746858","type":"debug","z":"29b21bd1.8e39f4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1690,"y":180,"wires":[]},{"id":"fe9774c4.fb16e8","type":"http in","z":"29b21bd1.8e39f4","name":"Dummy MQTT","url":"/mqtt","method":"post","upload":false,"swaggerDoc":"","x":1060,"y":340,"wires":[["bfe95149.2c1d3"]]},{"id":"bfe95149.2c1d3","type":"switch","z":"29b21bd1.8e39f4","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"publish","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":340,"wires":[["cef72415.cc7ef8","d8073ec.da848c"],["7e1abc7f.4b5804"]]},{"id":"7e1abc7f.4b5804","type":"debug","z":"29b21bd1.8e39f4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":400,"wires":[]},{"id":"f2b9d466.a1f988","type":"mqtt out","z":"29b21bd1.8e39f4","name":"","topic":"${NOTES}","qos":"2","retain":"","broker":"b15d2d9e.2926d","x":1650,"y":340,"wires":[]},{"id":"36832975.098ad6","type":"http response","z":"29b21bd1.8e39f4","name":"","statusCode":"","headers":{},"x":1450,"y":280,"wires":[]},{"id":"cef72415.cc7ef8","type":"change","z":"29b21bd1.8e39f4","name":"set msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.terms[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":340,"wires":[["f2b9d466.a1f988"]]},{"id":"d8073ec.da848c","type":"change","z":"29b21bd1.8e39f4","name":"ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":280,"wires":[["36832975.098ad6"]]},{"id":"c58f500e.2b3d4","type":"comment","z":"29b21bd1.8e39f4","name":"AGENT > MQTT (MQTT)","info":"","x":1090,"y":300,"wires":[]},{"id":"5fc5fd30.35aff4","type":"http request","z":"29b21bd1.8e39f4","name":"dummy ag","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":120,"wires":[["1ccbae8b.7d2501"]]},{"id":"6428739.0a8bc8c","type":"function","z":"29b21bd1.8e39f4","name":"dummy ag","func":"msg.method = 'POST';\nmsg.url = `http://jacamo-rest:8080/agents/user?only_wp=true`;\nmsg.payload = `{\\\"uri\\\":\\\"http://node-red:1880/user\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["5fc5fd30.35aff4"]]},{"id":"1ccbae8b.7d2501","type":"switch","z":"29b21bd1.8e39f4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":120,"wires":[["1468321e.adc59e"]]},{"id":"1468321e.adc59e","type":"debug","z":"29b21bd1.8e39f4","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":120,"wires":[]},{"id":"60e940d1.34c6e","type":"comment","z":"29b21bd1.8e39f4","name":"CREATE DUMMY AGENT","info":"","x":210,"y":60,"wires":[]},{"id":"f5a5cb02.536158","type":"comment","z":"bc000162.c36de","name":"DOUBLE CLICK ON NODE BELOW TO CONFIGURE IT","info":"","x":590,"y":80,"wires":[]},{"id":"6745549.0ac03ac","type":"http request","z":"54d81282.b772ac","name":"send msg","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":80,"wires":[["77047864.4537e8"]]},{"id":"77047864.4537e8","type":"switch","z":"54d81282.b772ac","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":80,"wires":[["c097bd64.0eba1"]]},{"id":"c097bd64.0eba1","type":"debug","z":"54d81282.b772ac","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":80,"wires":[]},{"id":"43e561e9.aa18c","type":"function","z":"54d81282.b772ac","name":"new_as","func":"var content = `new_as(\\\\\\\"${msg.file}\\\\\\\")`;\nvar receiver = `ag_brsiop`;\nmsg.method = 'POST';\nmsg.url = `${env.get('HOST')}:${env.get('PORT')}/agents/${receiver}/inbox`;\n// msg.url = `http://192.168.1.107:8080/agents/${receiver}/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"${receiver}\\\", \\\"performative\\\": \\\"tell\\\", \\\"content\\\": \\\"${content}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["6745549.0ac03ac"]]},{"id":"a074ee46.6c71d","type":"switch","z":"e2d28e59.51323","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"login","vt":"str"},{"t":"eq","v":"upload","vt":"str"},{"t":"eq","v":"addAs","vt":"str"},{"t":"eq","v":"glc","vt":"str"},{"t":"eq","v":"jobInfo","vt":"str"},{"t":"eq","v":"download","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":710,"y":580,"wires":[["da66fc74.139d7"],["ffac9743.a7ca28"],["609f24df.6bf91c"],["c96fd993.325b48"],["6cb8391b.492ed8"],["2229c7d8.525318"],["38497102.375dce"]]},{"id":"da66fc74.139d7","type":"function","z":"e2d28e59.51323","name":"login","func":"var login = msg.payload.terms[0];\nvar password = msg.payload.terms[1];\n\nmsg.method = 'POST';\n// msg.url = `${msg.origin}/v1/authentication`;\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/authentication`;\nmsg.payload = `login=${login}&password=${password}`;\n\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/x-www-form-urlencoded';\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":200,"wires":[["da63c09a.e3ade"]]},{"id":"da63c09a.e3ade","type":"http request","z":"e2d28e59.51323","name":"login","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":200,"wires":[["7270a0ac.d5993"]]},{"id":"fe3776c8.552ed8","type":"comment","z":"e2d28e59.51323","name":"LOGIN","info":"","x":990,"y":153,"wires":[]},{"id":"7270a0ac.d5993","type":"switch","z":"e2d28e59.51323","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":200,"wires":[["2137655b.c0b29a"],["eeee594e.7d6998"]]},{"id":"2137655b.c0b29a","type":"debug","z":"e2d28e59.51323","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":140,"wires":[]},{"id":"7f486658.9fcb98","type":"comment","z":"e2d28e59.51323","name":"UPLOAD","info":"","x":1000,"y":312,"wires":[]},{"id":"ffac9743.a7ca28","type":"function","z":"e2d28e59.51323","name":"upload","func":"msg.token = msg.payload.terms[0];\nmsg.file = msg.payload.terms[1];\nif(msg.file.includes(\".as\")){\n    // if it looks as an unix-based system\n    let envpath = env.get('AS_PATH');\n    if (envpath.indexOf(\"/\") >= 0){\n        msg.filename = `${env.get('AS_PATH')}/${msg.file}`; // N-WINDOWS    \n    }else{\n        msg.filename = `${env.get('AS_PATH')}\\\\\\\\${msg.file}`; // WINDOWS\n    }\n} else if(msg.file.includes(\".gln\")){\n    // if it looks as an unix-based system\n    let envpath = env.get('JACAMO_PATH');\n    if (envpath.indexOf(\"/\") >= 0){\n        msg.filename = `${env.get('JACAMO_PATH')}/gln/${msg.file}`; // N-WINDOWS\n    }else{\n        msg.filename = `${env.get('JACAMO_PATH')}\\\\\\\\gln\\\\\\\\${msg.file}`; // WINDOWS\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":990,"y":356,"wires":[["2caec759.683d48"]]},{"id":"2caec759.683d48","type":"file in","z":"e2d28e59.51323","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1110,"y":356,"wires":[["f9540854.b30f78"]]},{"id":"f9540854.b30f78","type":"function","z":"e2d28e59.51323","name":"multipart","func":"let databuffer = msg.payload;\nmsg.method = 'POST';\n// msg.url = `${msg.origin}/v1/projects/am9taS9hZ2Jy/files/root`;\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/projects/${msg.project}/files/root`;\nmsg.payload = {\n    \"file\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": msg.file\n        }\n    },\n    \"uploadType\": {\n        \"value\": \"multipart\"\n    }\n}\nmsg.headers = {};\nmsg.headers['content-type'] = 'multipart/form-data';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1240,"y":356,"wires":[["b55950c1.9290c"]]},{"id":"b55950c1.9290c","type":"http request","z":"e2d28e59.51323","name":"upload","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":356,"wires":[["5b3bca37.e301b4"]]},{"id":"baa03fed.9fe26","type":"debug","z":"e2d28e59.51323","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1490,"y":300,"wires":[]},{"id":"609f24df.6bf91c","type":"function","z":"e2d28e59.51323","name":"as2glc","func":"msg.token = msg.payload.terms[0];\nvar wellIn = msg.payload.terms[1];\nvar well = wellIn.substring(0,wellIn.length-3);\nvar gln = msg.payload.terms[2];\nmsg.method = 'POST';\n// msg.url = `${msg.origin}/v1/jobs`;\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs`;\nmsg.payload = `{\n   \\\"args\\\":{\n      \\\"6.ARQUIVO_SAIDA\\\":\\\"${gln}\\\",\n      \\\"5.well\\\":\\\"${well}\\\",\n      \\\"3.ARQUIVO_ENTRADA\\\":\\\"${gln}\\\",\n      \\\"0.ARQUIVO_ENTRADA\\\":\\\"${wellIn}\\\"\n   },\n   \\\"description\\\":\\\"agbr\\\",\n   \\\"emailOnTerminated\\\":false,\n   \\\"numberOfJobs\\\":1,\n   \\\"remoteCommand\\\":{\n      \\\"versionId\\\":\\\"1.0.0\\\",\n      \\\"projectId\\\":\\\"${msg.project}\\\",\n      \\\"algorithmId\\\":\\\"addAS2GLC\\\"\n   },\n   \\\"priority\\\":0\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":515,"wires":[["b54512df.3f84c"]]},{"id":"b54512df.3f84c","type":"http request","z":"e2d28e59.51323","name":"run","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1135,"y":574,"wires":[["3ffce523.0d3f6a"]]},{"id":"f5e1e640.819318","type":"comment","z":"e2d28e59.51323","name":"AS2GLC","info":"","x":1000,"y":475,"wires":[]},{"id":"5b3bca37.e301b4","type":"switch","z":"e2d28e59.51323","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1491,"y":356,"wires":[["baa03fed.9fe26"],["11886603.5f9ffa"]]},{"id":"3ffce523.0d3f6a","type":"switch","z":"e2d28e59.51323","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1258,"y":574,"wires":[["de1e5f75.d465b"],["1e1c5712.5b98f9"]]},{"id":"de1e5f75.d465b","type":"debug","z":"e2d28e59.51323","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":520,"wires":[]},{"id":"6cb8391b.492ed8","type":"function","z":"e2d28e59.51323","name":"jobInfo","func":"msg.token = msg.payload.terms[0];\nvar jobId = msg.payload.terms[1];\nmsg.method = 'GET';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs/${jobId}`;\nmsg.headers = {};\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":796,"wires":[["976e4adc.8fafd8"]]},{"id":"95c5804f.31b95","type":"comment","z":"e2d28e59.51323","name":"JOB_INFO","info":"","x":1000,"y":749,"wires":[]},{"id":"976e4adc.8fafd8","type":"http request","z":"e2d28e59.51323","name":"jobInfo","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":796,"wires":[["38dd0a75.b4a616"]]},{"id":"38dd0a75.b4a616","type":"switch","z":"e2d28e59.51323","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1233,"y":796,"wires":[["1b70276a.6aeff9"],["56f1faeb.629a44"]]},{"id":"1b70276a.6aeff9","type":"debug","z":"e2d28e59.51323","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":736,"wires":[]},{"id":"56f1faeb.629a44","type":"json","z":"e2d28e59.51323","name":"","property":"payload","action":"","pretty":false,"x":1388,"y":796,"wires":[["b4f42a3a.e5fa38"]]},{"id":"9f6267a6.27d778","type":"base64","z":"e2d28e59.51323","name":"","action":"str","property":"file64","x":1140,"y":980,"wires":[["9255693d.f1d388"]]},{"id":"2229c7d8.525318","type":"function","z":"e2d28e59.51323","name":"getLink","func":"msg.token = msg.payload.terms[0];\nvar gln = msg.payload.terms[1];\nif (gln.includes('TST')) {\n    // if it looks as an unix-based system\n    let envpath = env.get('JACAMO_PATH');\n    if (envpath.indexOf(\"/\") >= 0){\n        msg.filename = `${env.get('JACAMO_PATH')}/gln/${gln}`; // N-WINDOWS\n    }else{\n        msg.filename = `${env.get('JACAMO_PATH')}\\\\\\\\gln\\\\\\\\${gln}`; // WINDOWS\n    }\n}\nif (gln.includes('OTM')) {\n    // if it looks as an unix-based system\n    let envpath = env.get('OTM_PATH');\n    if (envpath.indexOf(\"/\") >= 0){\n        msg.filename = `${env.get('OTM_PATH')}/${gln}`; // N-WINDOWS\n    }else{\n        msg.filename = `${env.get('OTM_PATH')}\\\\\\\\${gln}`; // WINDOWS\n    }\n}\nmsg.file64 = gln;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":980,"wires":[["9f6267a6.27d778"]]},{"id":"15df1352.13fbfd","type":"comment","z":"e2d28e59.51323","name":"DOWNLOAD","info":"","x":1010,"y":933,"wires":[]},{"id":"4b19e0fa.93452","type":"http request","z":"e2d28e59.51323","name":"getLink","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1440,"y":980,"wires":[["11b8d49f.ea57ab"]]},{"id":"11b8d49f.ea57ab","type":"switch","z":"e2d28e59.51323","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1573,"y":980,"wires":[["11aae897.063857"],["f34b919e.131d5"]]},{"id":"11aae897.063857","type":"debug","z":"e2d28e59.51323","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1570,"y":920,"wires":[]},{"id":"c96fd993.325b48","type":"function","z":"e2d28e59.51323","name":"glc","func":"msg.token = msg.payload.terms[0];\nglnIn = msg.payload.terms[1];\nglnOut = msg.payload.terms[2];\nmsg.method = 'POST';\n// msg.url = `${msg.origin}/v1/jobs`;\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs`;\nmsg.payload = `{\n   \\\"args\\\":{\n      \\\"6.ARQUIVO_SAIDA\\\":\\\"${glnOut}\\\",\n      \\\"0.ARQUIVO_ENTRADA\\\":\\\"${glnIn}\\\"\n   },\n   \\\"description\\\":\\\"agbr\\\",\n   \\\"emailOnTerminated\\\":false,\n   \\\"numberOfJobs\\\":1,\n   \\\"remoteCommand\\\":{\n      \\\"versionId\\\":\\\"1.0.0\\\",\n      \\\"projectId\\\":\\\"${msg.project}\\\",\n      \\\"algorithmId\\\":\\\"GLC\\\"\n   },\n   \\\"priority\\\":0\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":635,"wires":[["b54512df.3f84c"]]},{"id":"71912753.3762d8","type":"comment","z":"e2d28e59.51323","name":"GLC","info":"","x":990,"y":595,"wires":[]},{"id":"38497102.375dce","type":"debug","z":"e2d28e59.51323","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":700,"wires":[]},{"id":"eeee594e.7d6998","type":"json","z":"e2d28e59.51323","name":"","property":"payload","action":"","pretty":false,"x":1370,"y":200,"wires":[["1c373996.04be26"]]},{"id":"1c373996.04be26","type":"function","z":"e2d28e59.51323","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload.tokenType}${msg.payload.accessToken}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":200,"wires":[["c87c3fd.b12ccc"]]},{"id":"c87c3fd.b12ccc","type":"http response","z":"e2d28e59.51323","name":"OK","statusCode":"","headers":{},"x":1690,"y":200,"wires":[]},{"id":"11886603.5f9ffa","type":"function","z":"e2d28e59.51323","name":"OpFeedbackParam","func":"msg.payload = 'ok';\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":360,"wires":[["5290369f.ecab88"]]},{"id":"5290369f.ecab88","type":"http response","z":"e2d28e59.51323","name":"OK","statusCode":"","headers":{},"x":1830,"y":360,"wires":[]},{"id":"fb293f70.6773a","type":"http response","z":"e2d28e59.51323","name":"OK","statusCode":"","headers":{},"x":1610,"y":574,"wires":[]},{"id":"b4f42a3a.e5fa38","type":"function","z":"e2d28e59.51323","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload.state}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1554,"y":796,"wires":[["2254ecdb.f167b4"]]},{"id":"2254ecdb.f167b4","type":"http response","z":"e2d28e59.51323","name":"OK","statusCode":"","headers":{},"x":1714,"y":796,"wires":[]},{"id":"1e1c5712.5b98f9","type":"function","z":"e2d28e59.51323","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1444,"y":574,"wires":[["fb293f70.6773a"]]},{"id":"f34b919e.131d5","type":"subflow:9dccf696.706988","z":"e2d28e59.51323","name":"","env":[],"x":1740,"y":980,"wires":[["99e6aae9.c84f38"]]},{"id":"99e6aae9.c84f38","type":"function","z":"e2d28e59.51323","name":"OpFeedbackParam","func":"msg.payload = 'ok';\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":980,"wires":[["77ffb43b.2d74bc"]]},{"id":"77ffb43b.2d74bc","type":"http response","z":"e2d28e59.51323","name":"OK","statusCode":"","headers":{},"x":2070,"y":980,"wires":[]},{"id":"7b68cf2b.67e5","type":"function","z":"e2d28e59.51323","name":"","func":"msg.origin = `${env.get('HOST')}:${env.get('PORT')}`;\nmsg.project = env.get('PROJECT');\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["c761e65c.f107f8"]]},{"id":"9255693d.f1d388","type":"function","z":"e2d28e59.51323","name":"","func":"msg.method = 'GET';\n// msg.url = `${msg.origin}/v1/projects/am9taS9hZ2Jy/files/${msg.file64}/link`;\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/projects/${msg.project}/files/${msg.file64}/link`;\nmsg.headers = {};\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":980,"wires":[["4b19e0fa.93452"]]},{"id":"c761e65c.f107f8","type":"base64","z":"e2d28e59.51323","name":"","action":"str","property":"project","x":540,"y":580,"wires":[["a074ee46.6c71d"]]},{"id":"56e7da3e.4924f4","type":"function","z":"230ffd5c.67f422","name":"glc","func":"msg.token = msg.payload.terms[0];\nglnIn = msg.payload.terms[1];\nglnOut = msg.payload.terms[2];\nmsg.method = 'POST';\n// msg.url = `${msg.origin}/v1/jobs`;\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs`;\nmsg.payload = `{\n   \\\"args\\\":{\n      \\\"6.ARQUIVO_SAIDA\\\":\\\"${glnOut}\\\",\n      \\\"0.ARQUIVO_ENTRADA\\\":\\\"${glnIn}\\\"\n   },\n   \\\"description\\\":\\\"agbr\\\",\n   \\\"emailOnTerminated\\\":false,\n   \\\"numberOfJobs\\\":1,\n   \\\"remoteCommand\\\":{\n      \\\"versionId\\\":\\\"1.0.0\\\",\n      \\\"projectId\\\":\\\"${msg.project}\\\",\n      \\\"algorithmId\\\":\\\"GLC\\\"\n   },\n   \\\"priority\\\":0\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":640,"wires":[["637243b8.3fba9c"]]},{"id":"deaca55f.828418","type":"comment","z":"230ffd5c.67f422","name":"GLC","info":"","x":990,"y":600,"wires":[]},{"id":"7dcab622.35b918","type":"function","z":"a24dcc39.ea1c8","name":"DOING","func":"var ext = fileName.substr(fileName.lastIndexOf('.') + 1);\n\nmsg.name = msg.file\nreturn msg;\n\n// var well = msg.file.substring(0, msg.file.length - 25).replace(/_/g, \"-\").toUpperCase();","outputs":1,"noerr":0,"x":340,"y":580,"wires":[[]]},{"id":"28708253.a4a83e","type":"inject","z":"a24dcc39.ea1c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":740,"wires":[[]]},{"id":"28d2153e.a4851a","type":"debug","z":"a24dcc39.ea1c8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":360,"wires":[]}]